{
    "parserOptions": {
        "ecmaVersion": 6
    },
	"env": {
		"node": true,
		"es6": true
	},
	"ecmaFeatures": {
		"arrowFunctions": true
	},
	'rules': {
		"no-const-assign": 2,
		"no-unused-vars": [2, {
		  "vars": "local",
		  "args": "none" 
		}],
		"no-mixed-spaces-and-tabs": [0],
		"no-multi-spaces": 0,
		"no-regex-spaces": 0,
		"no-spaced-func": 0,
		"key-spacing": [0, { "beforeColon": false, "afterColon": false }]
	}
}